# ULVLC Session 3: Imports and Tabular Data

In this session, we'll be learning about how to expand Python's functionality through the use of modules, and use a specific module for working with tabular data, Pandas.

Python has a number of math functions built in, like addition, subtraction, multiplication, and division. Below, the double-asterisk is the exponential function.
$$5^2 = 25$$

In [1]:
5**2

25

Python can do a lot of things, but it's built around the idea that the most frequently used items are included, but the other stuff can be added in as necessary. Think of a minivan. It's a great vehicle for taking a bunch of people to the beach, or to the mountains, or to the grocery store. But, you're probably not bringing your skis when you go pick up a few boxes of Kraft Mac & Cheese. Or, maybe you are. Who am I to judge?

In any case, if you _want_ to bring skis or waveboards to the grocery, you have the option. And if you don't want or need your floaties, they're not taking up space.

In this first cell, we're going to import the `math` module. This gives us access to many more math specific functions. Think of this like the difference between a normal calculator and a scientific one.

In [2]:
import math

Now we can do things like square root:
$$\sqrt{25}= 5$$

In [3]:
math.sqrt(25)

5.0

Here we see using the `sqrt()` function requires that we provide the context by writing out the name of the module that provides it: `math.sqrt()`. Just writing `sqrt()` doesn't work, though:

In [4]:
sqrt(25)

NameError: name 'sqrt' is not defined

When there's a period or dot between two things, usually, the one on the left of the period provides the context for the one on the right. In the case of `math.sqrt()` the `math` part refers to the module that gives us the `sqrt()` capability. This way, if for some reason there's _another_ `sqrt()` out there, we're specifying which one to use. It's like if your partner goes out and you ask them to buy **oil**. Hopefully the context is implied, but what if they bought _motor oil_ when you wanted _olive oil_? That's a horrible pesto.

It's even possible to use the module multiple times in the same statement. Remember this gem from trigonometry:
$$\sin{\frac{\pi}{6}} = \frac{1}{2}$$

In [5]:
math.sin(math.pi/6)

0.49999999999999994

But, we're _programmers_, right? What is the most important unifying characteristic of programmers? We're \[efficient\]. We don't want to type extra letters if we don't have to. In the example above, we're typing math twice. That's entirely too much. What if we put in a shortcut?

In [6]:
import math as mt

In [7]:
mt.sin(mt.pi/6)

0.49999999999999994

By using the **as** we can call it whatever we want! In this case, I've removed two characters from the name, which is a savings of... um... uh...

In [8]:
print(f'{(4-2)*100/4}%')

50.0%

yay!

But back to the lesson at hand, why all of that to talk about tabular data? Well, Python has a famous module for dealing with tabular data, and it has a just-as-famous shortcut.

In [9]:
import pandas as pd

Pandas is the module for working with data in rows and columns. It has a lot of functionality for data science applications, and is an all-around great tool to learn.

To begin, we'll talk about some of the other stuff we've covered in previous lessons. Remember lists and ranges?

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

This is a quick list of the values starting at 0, and going all the way up to (but not including) 10. It's good to remember that Python is _zero-indexed_, meaning the first item in a list (or other things) is in the zero position.

We can specify a different starting point by putting that as the first number, and the endpoint as the second number.

In [11]:
list(range(3,20))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

We can even specify how much we _step_ from one value to the next with the third number in the range. Here we get the odd numbers starting at 3 and going up to 19: 3+2 = 5, 5+2 = 7, etc.

In [12]:
list(range(3,20,2))

[3, 5, 7, 9, 11, 13, 15, 17, 19]

Well, now, we're going to give (or pass) this list to the Pandas `Series()` command:

In [13]:
pd.Series(range(3,20,2))

0     3
1     5
2     7
3     9
4    11
5    13
6    15
7    17
8    19
dtype: int64

A `Series` in Pandas is just like a single row, or column in a spreadsheet. And you can see the same values from the previous cell. But, notice there's another set of numbers on the left side? That's the _index_. Pandas loves a good index. We didn't have to specify one - Pandas just stuck it in there. This way, we're always certain of the location of something. We can change the index to other things, as we'll see later. It's also important to note: the index is zero-indexed, just like our positions in the lists before.

Now, we're going to use one of the more common commands in Pandas: `read_csv()`. This will take a string as an _argument_ between the parentheses. And, if the file is in a CSV format, Pandas will import it and turn it into something we can use. Here we're taking a list of dog licenses for Allegheny County, PA.

For more items like this, please check out [Data.Gov](https://www.data.gov). This particular dataset came from [Allegheny County Dog Licenses - Data.gov](https://catalog.data.gov/dataset/allegheny-county-dog-licenses)

As an aside, I love working with real data. We can do stuff with hypotheticals all day long. Sometimes, it's just nice to see real solutions from real sources. Anyway, back to the lesson...

In [14]:
doggos = pd.read_csv('./doglicenses.csv')

We've taken this comma-separated-values file and imported it using the `pd.read_csv()` command, and put it in the variable `doggos`. But what **is** doggos?

In [15]:
type(doggos)

pandas.core.frame.DataFrame

This is a new data structure in Pandas, the DataFrame. A DataFrame is just like a rectangular spreadsheet. It can have rows AND columns, where a Series is just one or the other. In fact, a DataFrame is just a Series of Series (es?)

Let's see what a DataFrame looks like:

In [16]:
doggos

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Lifetime Spayed Female,POODLE MIX,WHITE/BLACK,OREO,15024,2099,2010-02-04T16:13:03
1,Dog Lifetime Neutered Male,SHEPHERD MIX,BLACK/TAN,PEPPER,15024,2099,2010-02-04T16:13:03
2,Dog Lifetime Duplicate,LABRADOR RETRIEVER,YELLOW,PETE,15143,2099,2010-02-05T09:27:37
3,Dog Lifetime Duplicate,LAB MIX,BLACK,MILLIE,15102,2099,2010-02-05T09:36:02
4,Dog Lifetime Neutered Male,LAB MIX,BROWN,COOPER,15234,2099,2010-02-05T10:39:59
...,...,...,...,...,...,...,...
32192,Dog Senior Lifetime Male,CHIHUAHUA,BLACK,MOE,15234,2099,2020-06-30T13:55:38
32193,Dog Lifetime Neutered Male,JACK RUSSEL TERRIER,WHITE/BROWN,LINK,15205,2099,2020-07-01T14:02:31
32194,Dog Lifetime Neutered Male,AM PIT BULL TERRIER,SPOTTED,BAILEY SIMPSON,15238,2099,2020-07-01T14:07:15
32195,Dog Lifetime Neutered Male,AM PIT BULL TERRIER,OTHER,EINSTEIN,15238,2099,2020-07-01T14:11:41
32196,Dog Lifetime Spayed Female,MIXED,SPOTTED,BELLA,15065,2099,2020-07-01T14:36:45

Pandas has done some really neat things here. By default, it assumed the first line in the CSV file contained the headers, or column names. It put an index with every single row. And when we preview the DataFrame, it shows us the first five and last five rows by default. If we wanted to look at a particular number of rows from the top or bottom, we can use the `.head()` or `.tail()` _methods_ with an integer _argument_. Want to see the first eight rows?

In [17]:
doggos.head(8)

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Lifetime Spayed Female,POODLE MIX,WHITE/BLACK,OREO,15024,2099,2010-02-04T16:13:03
1,Dog Lifetime Neutered Male,SHEPHERD MIX,BLACK/TAN,PEPPER,15024,2099,2010-02-04T16:13:03
2,Dog Lifetime Duplicate,LABRADOR RETRIEVER,YELLOW,PETE,15143,2099,2010-02-05T09:27:37
3,Dog Lifetime Duplicate,LAB MIX,BLACK,MILLIE,15102,2099,2010-02-05T09:36:02
4,Dog Lifetime Neutered Male,LAB MIX,BROWN,COOPER,15234,2099,2010-02-05T10:39:59
5,Dog Lifetime Spayed Female,LAB MIX,BLACK,CLEOPATRA,15234,2099,2010-02-05T10:50:40
6,Dog Lifetime Neutered Male,GER SHEPHERD MIX,BROWN,ARNOLD,15024,2099,2010-02-05T11:19:32
7,Dog Lifetime Neutered Male,COCKAPOO,WHITE/TAN,BEN,15218,2099,2010-02-05T11:26:13

If we want to look at a specific part of the DataFrame, we can use some square brackets. We've used square brackets before, when we wanted to look at a value in a specific position in a list. We'll be doing something similar here. If we wanted to look at a column of dog names, we just need to put that in some square brackets:

In [18]:
doggos['DogName']

0                  OREO
1                PEPPER
2                  PETE
3                MILLIE
4                COOPER
              ...
32192               MOE
32193              LINK
32194    BAILEY SIMPSON
32195          EINSTEIN
32196             BELLA
Name: DogName, Length: 32197, dtype: object

What we've done here is asked the DataFrame to give us the Series that is the `DogName` column. We can do this with any of the column names. If we want to look at more than one column at a time, we can put a list in there, like this:

In [19]:
type(['DogName','Breed'])

list

In [20]:
doggos[['DogName','Breed']]

              DogName                Breed
0                OREO           POODLE MIX
1              PEPPER         SHEPHERD MIX
2                PETE   LABRADOR RETRIEVER
3              MILLIE              LAB MIX
4              COOPER              LAB MIX
...               ...                  ...
32192             MOE            CHIHUAHUA
32193            LINK  JACK RUSSEL TERRIER
32194  BAILEY SIMPSON  AM PIT BULL TERRIER
32195        EINSTEIN  AM PIT BULL TERRIER
32196           BELLA                MIXED

[32197 rows x 2 columns]

It may be confusing to see that double set of square brackets: `[[]]`. If you don't like the look of that list, you can assign it to a variable, and then put the variable in the place of the list, like this:

In [21]:
two_things = ['DogName','Breed']

In [22]:
type(two_things)

list

In [23]:
doggos[two_things]

              DogName                Breed
0                OREO           POODLE MIX
1              PEPPER         SHEPHERD MIX
2                PETE   LABRADOR RETRIEVER
3              MILLIE              LAB MIX
4              COOPER              LAB MIX
...               ...                  ...
32192             MOE            CHIHUAHUA
32193            LINK  JACK RUSSEL TERRIER
32194  BAILEY SIMPSON  AM PIT BULL TERRIER
32195        EINSTEIN  AM PIT BULL TERRIER
32196           BELLA                MIXED

[32197 rows x 2 columns]

Don't be afraid to use variables. If you don't need to see all of the code all-of-the-time, think about using them frequently. They can keep stuff organized and out of the way. Plus, if you name the variables something meaningful, future-you will thank past-you and present-you for your diligence.

What if you would like to do some sort of filtering? To do that, we'll introduce something called _masking_. Remember our friend the Boolean variable?

In [24]:
type(True)

bool

When we want to filter our DataFrame, we create a mask of Trues and Falses. The thinking here, is that any place where there is a True, we want to keep it. Any place where there is a False, we want to hide, or _mask_ it. For example, what if we wanted to see all of the dogs who are named Pepper?

In [25]:
doggos['DogName'] == 'PEPPER'

0        False
1         True
2        False
3        False
4        False
         ...
32192    False
32193    False
32194    False
32195    False
32196    False
Name: DogName, Length: 32197, dtype: bool

By taking the 'DogName' column and using the double-equals, we can see a Series where that is True or False. 

Also, we need to be careful here. Python is Case Sensitive. For purposes of what we're doing today, a dog named `Pepper` has a different name than a dog named `PEPPER`. Hopefully, our data is _clean_ enough where this isn't a problem. But that's for a future lesson.

This is all fine, but a list of Trues and Falses isn't all that useful. We want to see the result of this mask, not the mask itself. To turn a mask into the information, well, we just put the mask inside our square brackets, like this:

In [26]:
doggos[doggos['DogName'] == 'PEPPER']

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
1,Dog Lifetime Neutered Male,SHEPHERD MIX,BLACK/TAN,PEPPER,15024,2099,2010-02-04T16:13:03
312,Dog Lifetime Spayed Female,AUS CATTLE DOG,SPOTTED,PEPPER,15024,2099,2004-03-09T00:00:00
367,Dog Lifetime Spayed Female,BISHON FRISE MIX,BLACK/SILVER,PEPPER,15143,2099,2013-04-22T13:11:01
818,Dog Lifetime Spayed Female,MIXED,BLACK,PEPPER,15235,2099,2004-06-25T00:00:00
954,Dog Lifetime Spayed Female,LABRADOR RETRIEVER,BLACK,PEPPER,15071,2099,2019-02-27T10:29:54
...,...,...,...,...,...,...,...
31528,Dog Lifetime Duplicate,LABRADOR RETRIEVER,BLACK,PEPPER,15120,2099,2017-03-27T09:38:06
31605,Dog Lifetime Spayed Female,TAG,WHITE/BLACK,PEPPER,15024,2099,2017-04-05T13:38:49
31695,Dog Lifetime Spayed Female,BEAGLE MIX,WHITE/BLACK/BROWN,PEPPER,15146,2099,2017-04-19T14:57:22
31916,Dog Lifetime Neutered Male,MORKIE,BLACK/TAN,PEPPER,15146,2099,2017-05-11T11:28:07
31942,Dog Senior Lifetime Neutered Male,COCKER SPANIEL MIX,WHITE/BLACK,PEPPER,15037,2099,2017-05-15T10:47:25

Using a DataFrame with a mask returns another DataFrame. You can see here the size is much smaller. What if we want to filter on two (or more) criteria? We can use Boolean operators with multiple masks. We won't go too much into the boolean operators here, but if you would like to find out all of the dogs named 'PEPPER' who are also 'LABRADOR RETRIEVER' we can use a Boolean AND with the ampersand symbol: `&`

Be sure to put both masks inside parentheses so that the operations occur properly. I'm also going to assign it to a variable, just to make it easier to read. You certainly don't have to do this, but I like to keep things readable.

In [27]:
name_and_breed = (doggos['DogName'] == 'PEPPER') & (doggos['Breed'] == 'LABRADOR RETRIEVER')

doggos[name_and_breed]

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
954,Dog Lifetime Spayed Female,LABRADOR RETRIEVER,BLACK,PEPPER,15071,2099,2019-02-27T10:29:54
3248,Dog Lifetime Spayed Female,LABRADOR RETRIEVER,BLACK,PEPPER,15116,2099,2005-02-15T00:00:00
9621,Dog Lifetime Spayed Female,LABRADOR RETRIEVER,BLACK,PEPPER,15090,2099,2014-04-14T15:49:05
13344,Dog Lifetime Spayed Female,LABRADOR RETRIEVER,BLACK,PEPPER,15239,2099,2008-10-06T12:25:19
14332,Dog Lifetime Duplicate,LABRADOR RETRIEVER,BLACK,PEPPER,15239,2099,2014-11-05T10:12:09
22207,Dog Lifetime Spayed Female,LABRADOR RETRIEVER,BLACK,PEPPER,15215,2099,2015-03-27T10:56:24
22517,Dog Lifetime Spayed Female,LABRADOR RETRIEVER,BLACK,PEPPER,15120,2099,2016-08-03T09:36:48
25220,Dog Lifetime Spayed Female,LABRADOR RETRIEVER,BLACK,PEPPER,15216,2099,2012-02-27T15:57:18
31528,Dog Lifetime Duplicate,LABRADOR RETRIEVER,BLACK,PEPPER,15120,2099,2017-03-27T09:38:06

Yay! We have this filtered down to a DataFrame that is small enough that Pandas can show us all of the results at once!

Now, let's do some analysis and document processing based upon our data. How would we figure out the most popular dog name in this list? Well, let's do a new operation: `.groupby()`. What does that look like?

In [28]:
doggos.groupby('DogName')

We're grouping by dog name, but the output doesn't make much sense. This is a bunch of stuff that is less helpful than even the mask above.

When Pandas uses the `.groupby()` method, it expects that the _next_ thing will supply what you're trying to measure. Remember when we said that the thing to the left of a period provides the context to the thing to the right? Well, we can do that with an operation. In this case, we'll use `.size()` which measures the size of a group by counting how many things are in it.

In [29]:
doggos.groupby('DogName').size()

DogName
 BABY (NINA)      1
 CHEBA            2
 ELWOOD MARINO    1
 FIONA            1
 GEORGE           1
                 ..
lifetimeANNIE     1
lilly             1
louey             2
pepper            1
shasta            1
Length: 7952, dtype: int64

This should look pretty familiar. We've done an operation on a DataFrame and returned a Series. We're seeing the names and counts. From this we can see that there are almost 8000 distinct names. But, we'd like to see the top names, right? Well, let's do the left-and-right-of-the-period thing again, and `.sort_values()`

In [30]:
doggos.groupby('DogName').size().sort_values()

DogName
 BABY (NINA)      1
MILLER LOU        1
MILLEE            1
MILISH            1
MILEY             1
               ...
BAILEY          272
DAISY           276
MOLLY           279
LUCY            313
BELLA           440
Length: 7952, dtype: int64

By default, `.sort_values()` assumes you want your Series sorted _ascending_, which means the lowest values are at the top. If you would like that reversed, you can give `.sort_values()` the keyword argument: `ascending=False`.

In [31]:
doggos.groupby('DogName').size().sort_values(ascending=False)

DogName
BELLA           440
LUCY            313
MOLLY           279
DAISY           276
BAILEY          272
               ...
MILEY             1
MILISH            1
MILLEE            1
MILLER LOU        1
 BABY (NINA)      1
Length: 7952, dtype: int64

ok! This is starting to come together. We're seeing a sorted list of the most popular names. But we just want the top ones. Let's bring back `.head()`, and give it an argument. Want the top 10 names?

In [32]:
doggos.groupby('DogName').size().sort_values(ascending=False).head(10)

DogName
BELLA      440
LUCY       313
MOLLY      279
DAISY      276
BAILEY     272
SADIE      265
MAX        247
CHARLIE    246
BUDDY      236
MAGGIE     209
dtype: int64

Let's pause a second and talk about what we've done. We've taken a DataFrame and grouped by 'DogName'. We then got the size of each group, which was a new Series. We then took that Series and sorted it. This gave us a new Series, and we took the top 10 results of that Series. And, from that we get a what? A Series!

You may think I just wanted to say Series a lot. Well... yeah... I did. But, the point is, every time we get some sort of output, and we know what the output type is, we can do operations on it just like it was the first operation we did! Nesting operations like this is fairly common, and we can use it to our benefit.

See how in the output above, we have a list of names, and a list of counts? Notice where the names are? They're in the index! This is what I was talking about before - we aren't required to have an index of numbers. And, since it's an index, we can use `.index` of a Series to get just the values in the index:

In [33]:
doggos.groupby('DogName').size().sort_values(ascending=False).head(10).index

Index(['BELLA', 'LUCY', 'MOLLY', 'DAISY', 'BAILEY', 'SADIE', 'MAX', 'CHARLIE',
       'BUDDY', 'MAGGIE'],
      dtype='object', name='DogName')

We should see something similar inside of the parentheses - something that looks like a list. And what can we do with list-like things? Iterate over them!

Let's go ahead and assign this to a new variable:

In [34]:
pop_name = doggos.groupby('DogName').size().sort_values(ascending=False).head(10).index

To do the next thing, we'll introduce a new operation. Up at the top, we used `.read_csv()`. Now, we're going to use its sibling: `.to_csv()`. Where `.read_csv()` went and got a CSV file and _read_ the content, `.to_csv()` will take the content of a DataFrame and write it to a CSV file named as the argument. Wowsers!

Before you run the next cell, let's break it down piece by piece:

-  `for dog_name in pop_name:` In our previous lesson, we used `for` loops to _iterate_ over some sort of list-like container. `for` pulls an item out; does something with it; and starts over with a new something. Here we have a list-like group of popular\* dog names. We'll grab one and assign it to the variable `dog_name`.
- `doggos['DogName']== dog_name` Each time we run the code in the `for` loop, we're doing it with a different value in the `dog_name` variable. We're making a mask with each iteration of the `for` loop based upon that value.
- `doggos[doggos['DogName']== dog_name]` This is the doggos DataFrame filtered on the dog name that is in the `dog_name` variable.
- `f'{dog_name}.csv'` This is our friend, The String, with a formatted variable. We're using the value in `dog_name` to create a new file name. If the value in `dog_name` is `PEPPER` this will create the file `PEPPER.csv`
- `.to_csv(f'{dog_name}.csv')` This takes the DataFrame to the left of the period, and saves it to a CSV file using the name in `dog_name`.



\* I literally typed pupular by accident here. Puns seem to be contentious, so I'll fix it.

In [35]:
for dog_name in pop_name:
    doggos[doggos['DogName']== dog_name].to_csv(f'{dog_name}.csv')

If you'll look in the folder you're working in currently, you'll see that you've created a bunch of CSV files. If you open them up, each one should only contain the records from the original doggos DataFrame that have the name that matches the name on the file! Neat!

Some possible ideas for this functionality:

- Open a CSV file of donors and separate them by region/state/city.
- Open a list of e-resources and generate reports based upon item type.
- Create a CSV for a vendor that has a list of the top 100 most popular titles by usage count.